header {
  /* box-sizing: border-box;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px; */
  border-bottom: rgba(255,255,0);
  border-bottom-width: 50px;
}

.headerbox {
  /* background-color: #B0C4DE; */
  background-color: #00563F;
  padding-left: 50px;
    padding-top: 25px;
    padding-bottom: auto;
    padding-right: 50px;
    margin: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
    border-bottom: rgba(255,255,0);
    border-bottom-width: 20px;
  
  }

nav {
  text-align: right;
}

button.submit {
  float: right;
}

.campaign-container {
  margin-left: 50px;
  margin-right: 50px;
}

.box {
  margin-bottom: 200px;
}

.nbcol{
  /* border-style: dashed; */
  border-color: darkslategrey;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 75px;
  padding-right: 75px;
}

.section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.col-counter {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.col-title {
  height: 75px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 15px;
}

.col-question {
  height: 100px;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  margin: 5px;
  padding: 15px;
}

.col-slider {
  height: 250px;
  padding: 20px;
  /* font-size: 12pt;
  font-weight: bold;
  text-align: justify;
  margin: 5px; */
}

.row-slider {
  /* height: 100px;
  margin: 20px;
  padding: 20px; */
}

.col-weighting {
  height: 50px;
  font-size: 12pt;
  font-weight: bold;
  text-align: justify;
  margin: 5px;
}

.graph-annotations{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110;
  left: 110;
  /* z-index: 10; */
  z-index: -1;
}

.notes-row {
    border-style: dashed;
    border-color: darkslategrey;
    margin: 75px;
    font-size: 16pt;
}

.commentary_notes{
  font-size: 16pt;
}

#bus-context-notes1{
  /* margin-left: 70px; */
  font-size: 16pt;
}

#bus-context-notes2{
  /* margin-left: 70px; */
  font-size: 16pt;
}

#bus-context-notes3{
  /* margin-left: 70px; */
  font-size: 16pt;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

form#cms {
  margin-top: 50px;
  width: 80%;
}

form#sms {
  margin-top: 50px;
  width: 80%;
}

form#sms {
  margin-top: 50px;
  width: 80%;
}

#cms textarea {
  resize: none;
}

#sms textarea {
  resize: none;
}

#sms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.person-container {
  margin-top: 50px;
}

.person-list {
  margin-top: 25px;
}

.comment-container {
  margin-top: 30px;
}

.comment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#person-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.segment-container {
  margin-top: 50px;
}

.segment-list {
  margin-top: 25px;
}

.subsegment-container {
  margin-top: 30px;
}

.subsegment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#segment-name {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-deal_size {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-deal_count {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-revenue {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#deal_size_yoy {
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 10px;
}

#deal_count_yoy {
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 10px;
}

.add_segment {
  margin-top: 50px;
  margin-bottom: 100px;
  vertical-align: middle;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
  background-color: lightsteelblue;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Times New Roman', Times, serif;
  color: white;
  /* font-weight: bold; */
  font-size: 50px;
}


footer {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.form-check-input {
margin-left: 25px;
padding: auto;
text-align: center;
}

.vertext {
  width: 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align:center;
  /* white-space:nowrap; */
  transform-origin:50% 50%;
  transform: rotate(270deg);
}

.vertext:before {
  content:'';
  padding-top:110%;
  display:inline-block;
  vertical-align:middle;
}

.headnav {
  padding-bottom: 50px;
}





#ex1Slider .slider-selection {
	background: #BABABA;
}

#ex1 .slider-selection {
	background: #BABABA;
}

#ex1a .slider-selection {
	background: #BABABA;
}

#ex1b .slider-selection {
	background: #BABABA;
}


.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}

.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}

.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
}

.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #36454f;
  margin-top: 0;
}

.slider.slider-horizontal .slider-tick-container {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  display: inline-block;
  text-align: center;
}

.slider.slider-horizontal.slider-rtl .slider-track {
  left: initial;
  right: 0;
}

.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
  margin-left: initial;
  margin-right: -10px;
}

.slider.slider-horizontal.slider-rtl .slider-tick-container {
  left: initial;
  right: 0;
}

.slider.slider-vertical {
  height: 210px;
  width: 20px;
}

.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  left: 25%;
  top: 0;
}

.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.slider.slider-vertical .slider-track-low, .slider.slider-vertical .slider-track-high {
  width: 100%;
  left: 0;
  right: 0;
}

.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
  margin-top: -10px;
}

.slider.slider-vertical .slider-tick.triangle,
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #36454f;
  margin-left: 0;
}

.slider.slider-vertical .slider-tick-label-container {
  white-space: nowrap;
}

.slider.slider-vertical .slider-tick-label-container .slider-tick-label {
  padding-left: 4px;
}

.slider.slider-vertical.slider-rtl .slider-track {
  left: initial;
  right: 25%;
}

.slider.slider-vertical.slider-rtl .slider-selection {
  left: initial;
  right: 0;
}

.slider.slider-vertical.slider-rtl .slider-tick.triangle,
.slider.slider-vertical.slider-rtl .slider-handle.triangle {
  border-width: 10px 10px 10px 0;
}

.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label {
  padding-left: initial;
  padding-right: 4px;
}

.slider.slider-disabled .slider-handle {
  background-color: #cfcfcf;
  background-image: -moz-linear-gradient(top, #DFDFDF, #BEBEBE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DFDFDF), to(#BEBEBE));
  background-image: -webkit-linear-gradient(top, #DFDFDF, #BEBEBE);
  background-image: -o-linear-gradient(top, #DFDFDF, #BEBEBE);
  background-image: linear-gradient(to bottom, #DFDFDF, #BEBEBE);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#BEBEBE',GradientType=0);
}

.slider.slider-disabled .slider-track {
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #E5E5E5, #E9E9E9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E5E5), to(#E9E9E9));
  background-image: -webkit-linear-gradient(top, #E5E5E5, #E9E9E9);
  background-image: -o-linear-gradient(top, #E5E5E5, #E9E9E9);
  background-image: linear-gradient(to bottom, #E5E5E5, #E9E9E9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#E9E9E9',GradientType=0);
  cursor: not-allowed;
}

.slider input {
  display: none;
}

.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

.slider .bs-tooltip-top .tooltip-inner,
.slider .bs-tooltip-bottom .tooltip-inner {
  position: relative;
  left: -50%;
}

.slider.bs-tooltip-left .tooltip-inner, .slider.bs-tooltip-right .tooltip-inner {
  position: relative;
  top: -100%;
}

.slider .tooltip {
  pointer-events: none;
}

.slider .tooltip.bs-tooltip-top .arrow, .slider .tooltip.bs-tooltip-bottom .arrow {
  left: -.4rem;
}

.slider .tooltip.bs-tooltip-top {
  margin-top: -44px;
}

.slider .tooltip.bs-tooltip-bottom {
  margin-top: 2px;
}

.slider .tooltip.bs-tooltip-left, .slider .tooltip.bs-tooltip-right {
  margin-top: -14px;
}

.slider .tooltip.bs-tooltip-left .arrow, .slider .tooltip.bs-tooltip-right .arrow {
  top: 8px;
}

.slider .hide {
  display: none;
}

.slider-track {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F9F9F9',GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
}

.slider-selection {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#F5F5F5));
  background-image: -webkit-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: -o-linear-gradient(top, #F9F9F9, #F5F5F5);
  background-image: linear-gradient(to bottom, #F9F9F9, #F5F5F5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F5F5F5',GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
}

.slider-selection.tick-slider-selection {
  background-color: #00563F;
  background-image: -moz-linear-gradient(top, #297f5a, #3bb982);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#297f5a), to(#3bb982));
  background-image: -webkit-linear-gradient(top, #297f5a, #3bb982);
  background-image: -o-linear-gradient(top, #297f5a, #3bb982);
  background-image: linear-gradient(to bottom, #297f5a, #3bb982);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#297f5a', endColorstr='#3bb982',GradientType=0);
}

.slider-track-low, .slider-track-high {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  background: transparent;
}

.slider-handle {
  background-color: #0478b2;
  background-image: -moz-linear-gradient(top, #00563F, #36454f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00563F), to(#36454f));
  background-image: -webkit-linear-gradient(top, #00563F, #36454f);
  background-image: -o-linear-gradient(top, #00563F, #36454f);
  background-image: linear-gradient(to bottom, #00563F, #36454f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00563F', endColorstr='#36454f',GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #00563F;
  border: 0px solid transparent;
}

.slider-handle:hover {
  cursor: pointer;
}

.slider-handle.round {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.slider-handle.triangle {
  background: transparent none;
}

.slider-handle.custom {
  background: transparent none;
}

.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}

.slider-tick {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F9F9F9',GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: none;
  opacity: 0.8;
  border: 0px solid transparent;
}

.slider-tick.round {
  border-radius: 50%;
}

.slider-tick.triangle {
  background: transparent none;
}

.slider-tick.custom {
  background: transparent none;
}

.slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}

.slider-tick.in-selection {
  background-color: #00563F;
  background-image: -moz-linear-gradient(top, #297f5a, #3bb982);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#297f5a), to(#3bb982));
  background-image: -webkit-linear-gradient(top, #297f5a, #3bb982);
  background-image: -o-linear-gradient(top, #297f5a, #3bb982);
  background-image: linear-gradient(to bottom, #297f5a, #3bb982);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#297f5a', endColorstr='#3bb982',GradientType=0);
  opacity: 1;
}

.graph-frame{
height: 400px;
width: 400px;
margin: 25px;
}

canvas {
  height: 350px;
  width: 350px;
  /* background-image: url(../images/Graph1_Annotations.jpg); */
  /* background-color: rgba(176, 196, 222, 0.5); */
  /* background-image: url(../images/Graph1_Annotations.jpg); */
}

#BubbleChart1{
  height: 350px;
  width: 350px;  
  /* background-image: url(../images/Graph1_Annotations.jpg); */
  background-image: url(../images/BusCont.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#BubbleChart2{
  height: 350px;
  width: 350px;  
  /* background-image: url(../images/Graph2_Annotations.jpg); */
  background-image: url(../images/AudAlign.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#BubbleChart3{
  height: 350px;
  width: 350px;  
  /* background-image: url(../images/Graph3_Annotations.jpg); */
  background-image: url(../images/CampArch.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#BubbleChart4{
  height: 350px;
  width: 350px;  
  /* background-image: url(../images/Graph4_Annotations.jpg); */
  background-image: url(../images/AlignExec.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.section-header {
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

@media screen and (max-width: 979px){
  .container{width: 95%;}
  .container{height: 2000px}
  .container{padding: 5px;}
  .container{margin: 100px 20px 20px 20px;}
  header{height: 100px;} 
  canvas{
    /* height: 90%;
    width: 90%; */
    height: 400px;
    width: 400px;
  }

  #BubbleChart1{
    height: 350px;
    width: 350px;  
    /* background-image: url(../images/Graph1_Annotations.jpg); */
    background-image: url(../images/BusCont.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #BubbleChart2{
    height: 350px;
    width: 350px;  
    /* background-image: url(../images/Graph2_Annotations.jpg); */
    background-image: url(../images/AudAlign.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #BubbleChart3{
    height: 350px;
    width: 350px;  
    /* background-image: url(../images/Graph3_Annotations.jpg); */
    background-image: url(../images/CampArch.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #BubbleChart4{
    height: 350px;
    width: 350px;  
    /* background-image: url(../images/Graph4_Annotations.jpg); */
    background-image: url(../images/AlignExec.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-header {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin: 5px;
  }
}


@media screen and (max-width: 767px){
  .container{width: 95%;}
  .container{height: 2000px}
  .container{padding: 5px;}
  .container{margin: 100px 20px 20px 20px;}
  header{height: 100px;} 
  canvas{
    height: 400px;
    width: 400px;
    /* height: 350px;
    width: 90%; */
  }

  .section-header {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin: 5px;
  }
}

@media screen and (max-width: 639px){
  .container{width: 580px;}
  .container{height: 2000px}
  .container{padding: 5px;}
  .container{margin: 70px 20px 20px 20px;}
  header{
    height: 60px;
    margin-bottom: 20px;
  } 
  canvas{
    height: 400px;
    width: 400px;
    /* height: 350px;
    width: 90%; */
  }
  /* footer{height: 40px;} */
  #BubbleChart1{
    height: 200px;
    width: 200px;
    /* width: 400px; */
  }

  .section-header {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin: 5px;
  }
}
